@import "reset.css";
@import "fonts.css";
html {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-size: 10px;
    color: black;
    max-width: 1600px;
}
body {
    background: #E5E5E5;
}
.section {
}
.box {
}
.heder {
}
.h2 {
}
.p1 {
}
.cardbox {
}
.ul {
}
.li {
}
.img {
}
.card {
}
.p {
}
.button {
}