@import "reset.css";
@import "fonts.css";
body {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-size: 10px;
}
.section {
    padding-bottom: 220px;
    padding-top: 192px;

}
.box {
    width: 1125px;
}
.h2 {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.56%;
    margin-bottom: 61px;
    text-align: center;
}
.h2::after {
    content: "";
    display: block;
    width: 56px;
    height: 2px;
    border-radius: 5px;
    background-color: black;
    margin-top: 26px;
}